{% load static %}
<script src="{% static " js/jquery-3.3.1.min.js " %}">
</script>
<!-- jquery migrate js link -->
<script src="{% static " js/jquery-migrate-3.0.0.js " %}"></script>
<!-- bootstrap js link -->
<script src="{% static " js/bootstrap.min.js " %}"></script>
<!-- lightcase js link -->
<script src="{% static " js/lightcase.js " %}"></script>
<!-- wow js link -->
<script src="{% static " js/wow.min.js " %}"></script>
<!-- nice select js link -->
<script src="{% static " js/jquery.nice-select.min.js " %}"></script>
<!-- datepicker js link -->
<script src="{% static " js/datepicker.min.js " %}"></script>
<script src="{% static " js/datepicker.en.js " %}"></script>
<!-- wickedpicker js link -->
<script src="{% static " js/wickedpicker.min.js " %}"></script>
<!-- owl carousel js link -->
<script src="{% static " js/owl.carousel.min.js " %}"></script>
<!-- jquery ui js link -->
<script src="{% static " js/jquery-ui.min.js " %}"></script>
<!-- main js link -->
<script src="{% static " js/main.js " %}"></script>